<select class="status-label" name="status" id="status-select" (change)="onStatusChange($event)">
  <option value="">Choose status</option>
  <option [value]="productsStatus.Recommended">Recommended</option>
  <option [value]="productsStatus.Saleout">Saleout</option>
  <option [value]="productsStatus.Bestseller">Bestseller</option>
  <option [value]="productsStatus.Promotion">Promotion</option>
  <option [value]="productsStatus.New">New</option>
</select>
