@import "./../../../scss-variables.scss";

.status-label {
  width: fit-content;
  background: $primary-color;
  border-radius: 5px;
  color: beige;
  padding: 3px 15px 5px;
  text-transform: capitalize;
}

select {
  font-weight: bold;
  margin: 25px;
}
