@import "./../scss-variables.scss";
.container {
  margin: 5px 50px;
  text-align: center;

  @media only screen and (max-width: 600px) {
    margin: 5px;
  }

}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.product {
  border: 1px silver solid;
  width: 300px;
  overflow: hidden;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
  position: relative;
}
