<div class="container">
  <app-filters (filtersChange)="filterProducts($event)"></app-filters>
  <div class="products-container">
    <div  class="product" *ngFor="let product of filteredProductsList">
      <app-product-tile [product]="product"></app-product-tile>
    </div>
  </div>
  <app-footer></app-footer>
</div>
