<div>
  <div *ngIf="product.statuses?.length" class="statuses-container">
    <span *ngFor="let s of product.statuses" class="status-label">
      {{s}}
    </span>
  </div>
  <img class="product-photo" src="./../assets/product.JPG">
  <span class="product-name">{{product.name}}</span>
  <p>{{product.price ? (product.price | currency) : " - " }}</p>
</div>
