@import "./../../../scss-variables.scss";

.product-name {
  margin: 0 5px;
}

.product-photo {
  height: 240px;
  margin: 15px;
}

.statuses-container {
  top: 25px;
  left: 20px;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.status-label {
  width: fit-content;
  background: $primary-color;
  border-radius: 5px;
  color: beige;
  padding: 3px 15px 5px;
  text-transform: capitalize;
}

p {
  border-top: 3px solid $primary-color;
  margin: 20px 75px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
}

span {
  margin-bottom: 5px;
}
